{
	admin 0.0.0.0:2019
}
{
	admin 0.0.0.0:9000
}
ns3027175.ip-188-165-209.eu {
	@mygeofilter {
		maxmind_geolocation {
			db_path "/srv/data/raw/maxmind/GeoLite2-Country.mmdb"
			deny_countries RU CN
		}
  	}

	# import ./referral-spam.caddy
	reverse_proxy @mygeofilter classified-ads:3000

	log {
		output file /var/log/caddy/classifieds.ads-access.log {
			roll_size 10mb
			roll_keep 20
			roll_keep_for 720h
		}
		format transform "{common_log}"
  	}
}
