<nav class="navbar sticky-bottom navbar-light bg-light">
    <div class="container-fluid">
      <img id="copyright_google" src='./copyright/powered_by_google_on_white_hdpi.png' alt="Powered by Google">
      <a class="text-dark" href="https://Openweathermap.org/"> & Openweathermap.org</a>
      <div class="center">
        © 2020 Copyright:
    <a class="text-dark" href="https://www.weathervenue.com/">www.WeatherVenue.com</a>
        | Style Contributions:
        <a class="text-dark" href="https://github.com/dksmith328">Daniel Smith</a> & 
        <a class="text-dark" href="https://github.com/grimxreaper">Zahra Zadeh</a>
      <a class="text-dark" href="https://github.com/bacloud14/WeatherVenue/graphs/contributors" target="_blank" rel="noopener">| Contributors</a>
      </div>
    </div>
  </nav>