<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Security-Policy" 
   content="default-src 'self' cdn.jsdelivr.net https://*.googleapis.com;
   script-src 'self' 'unsafe-inline' 'unsafe-eval' cdn.jsdelivr.net https://*.googleapis.com https://*.gstatic.com *.google.com https://*.ggpht.com *.googleusercontent.com;
   img-src 'self' https://*.googleapis.com https://*.gstatic.com *.google.com  *.googleusercontent.com data:;
   frame-src *.google.com;
   connect-src 'self' https://*.googleapis.com *.google.com https://*.gstatic.com  data: blob:;
   font-src https://fonts.gstatic.com;
   style-src 'self' 'unsafe-inline' cdn.jsdelivr.net https://fonts.googleapis.com
   base-uri 'self';
   form-action 'self'">

<link rel="alternate" hreflang="en" href="https://www.weathervenue.com/" />
<link rel="alternate" hreflang="fr" href="https://www.weathervenue.com/fr" />
<link rel="alternate" hreflang="ar" href="https://www.weathervenue.com/ar" />
<link rel="icon" type="image/png" href="https://www.weathervenue.com/img/icon.png">

<meta name="Description" content="<%= description %>">
<title><%= title %></title>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="stylesheet" href="/stylesheets/wvStyle.css">