<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- TODO: replace font-awesome with a newer version, maybe cloud based https://fontawesome.com/ -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


<% if (locals.title) { %>
<title><%= title %></title>
<% } else { %>
<title>Classified-ads</title>
<% } %>
</title>

<% if (typeof section != 'undefined' && section == 'donations') { %>
<link rel="stylesheet" href="/stylesheets/style_donations.css">
<% } else if (typeof section != 'undefined' && section == 'skills') { %>
<link rel="stylesheet" href="/stylesheets/style_skills.css">
<% } else if (typeof section != 'undefined' && section == 'events') { %>
<link rel="stylesheet" href="/stylesheets/style_events.css">
<% } else if (typeof section != 'undefined' && section == 'hobbies') { %>
<link rel="stylesheet" href="/stylesheets/style_hobbies.css">
<% } else { %>
<link rel="stylesheet" href="/stylesheets/style.css">
<% } %>
<link rel="stylesheet" href="/stylesheets/shared.css">

<!-- <link rel="stylesheet" href='/stylesheets/Control.FullScreen.css'> -->
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=News+Cycle" />
<script>
  var __errors__ = []
  var __successes__ = []
</script>
<link rel="shortcut icon" href="/images/favicon.ico">
<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="48x48" href="/images/favicon-48x48.png">
<!-- <script async defer src="http://188.165.209.196:9091/client.js"></script> -->