<!-- make it disapear for small devices -->
<nav class="nav flex-column" id="sidebar_nav">
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Sections</a>
    <a class="nav-link active" aria-current="page" href="/listings">
        <i class="fa fa-home"></i><span>&nbsp;Listings</span></a>
    <a class="nav-link" href="/listings/donations"><i class="fa fa-gift"></i><span>&nbsp;Donations</span></a>
    <a class="nav-link" href="/listings/skills"><i class="fa fa-briefcase"></i><span>&nbsp;Skills</span></a>
    <a class="nav-link" href="/listings/blogs"><i class="fa fa-book"></i><span>&nbsp;Blogs</span></a>
</nav>